.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.logo {
  display: block;
  margin: 0 auto;
   margin-top: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-left: 8px;
  margin-bottom: 9px;
  font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.inline-fields div {
  flex: 1; 
  padding-right: 30px;
  margin-bottom: 3px;
}

.inline-fields div input {
  width: 100%; 
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  align-self: center;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #007bff;
  margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"]:hover {
  border-color: #0056b3; /* Darker border color on hover */
}

.toast-success {
  border-color: #398ee8;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
}

